.catalog {
  height: calc(100vh - 215px);
  overflow: scroll;
  background-color: var(--alternative-dark);
}

.resource-card {
  padding: 10px;
  background-color: var(--primary-color);
  margin: 15px;
}

.resource-card img {
  width: 227px;
}

.resource-card__title {
  color: #FFF;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 2px;
}
